@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.header {
  display: flex;
  justify-content: space-around;
  background-color: #222933;
  height: 13vh;
  padding: 0 2%;
  .brand {
    font: {
      family: "Ubuntu", sans-serif;
      weight: bold;
      size: 30px;
    }
    text-shadow: 1px 2px 2px #fe2b00;
    text-decoration: none;
    color: #f83b15;
  }
  .navigation {
    flex: 0.5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    // .tab {
    //   background-color: #fff;
    //   height: 1px;

    //   position: absolute;
    //   bottom: 0;
    //   transition: 0.5s;
    // }
    .tab {
      background-color: #fff;
      height: 4px;

      position: absolute;
      bottom: 0;

      &.home {
        background-color: #4b4342;
      }
      &.category {
        background-color: #383c49;
      }
      &.about {
        background-color: #2c484f;
      }
      &.contact {
        background-color: #3f2d3b;
      }

      width: 100%;
    }
    .nav-item {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      font-family: "Ubuntu", sans-serif;
      list-style: none;

      height: 100%;
      width: 100%;

      &.active-link {
        background-color: #131a20;
        .nav-link {
          color: #fe2b00;
        }
      }
      .nav-link {
        text-decoration: none;
        color: #3e4557;

        font-weight: bold;
      }
    }
  }

  .btn-list {
    flex: 0.2;
    display: flex;
    justify-content: space-around;
    padding: 0;
    .btn {
      width: 100px;
      color: #fff;
    }
    .login {
      background-color: #f83b15;
      border: 2px outset transparent;
      transition: 0.3s ease-in;
      &:hover {
        background-color: transparent;
        border: 2px outset #f83b15;
      }
    }
    .sign-up {
      background-color: transparent;
      border: 2px outset #f83b15;
      color: #f83b15;
      transition: 0.3s ease-in;

      &:hover {
        background-color: #131a20;
        border: 2px outset transparent;
      }
    }
  }

  // .list {
  //   display: flex;
  //   justify-content: space-between;
  //   #sign-up {
  //     padding: 5px 22px;
  //     background-color: #fe2b00;
  //     color: #f8ffff;
  //     border-radius: 25px;
  //     cursor: pointer;
  //     box-shadow: 0px 0px 10px 2px rgba(#fe2b00, 0.3);

  //     &:hover {
  //       box-shadow: 0px 0px 10px 3px rgba(#fe2b00, 0.5);
  //       text-shadow: 0 0 0 #f8ffff;
  //     }
  //   }
  // }
}
