<mat-toolbar class="header" >
    <a href="#" class="brand">Co-anime</a>
    <ul class="navigation">
        <li class="nav-item">
            <span class="tab"></span>
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Category</a>
            <a href="#" class="nav-link">About</a>
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>
    <ul class="group-icons">
        <button class="btn-icon material-icons" (click)="openDialog($event.target)" name="sing-up">perm_identity</button>
        <button class="btn-icon material-icons" (click)="openDialog($event.target)" name="login">login</button>
    </ul>
</mat-toolbar>