<mat-toolbar class="header" >
    <a href="#" class="brand">Co-anime</a>
    <ul class="navigation">
        <li class="nav-item">
            <span class="tab"></span>
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Category</a>
            <a href="#" class="nav-link">About</a>
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>

    <ul class="no-bullet-list list">
        <li>
            <a (click)="openDialog($event.target)" id="sign-up">Sign Up</a>
        </li>
        <!-- <li>
            <a (click)="openDialog($event.target)" name="login">Log In</a>
        </li> -->
    </ul>
</mat-toolbar>