  <h2 mat-dialog-title class="dialog-title">{{dialog}}</h2>
  <mat-dialog-content class="mat-typography">
    <div class="sign-up" *ngIf="dialog === 'sing-up'">
      <app-sing-up></app-sing-up>
    </div>
    <div class="login" *ngIf="dialog === 'login'">
      <app-login></app-login>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close class="btn">Cancel</button>
    <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial class="btn">Send</button>
  </mat-dialog-actions>

