.dialog-title {
  color: #f83b15;
  font-weight: bold;
}
.btn {
  padding: 0 2px;
  &:first-child {
    background: red;
    color: #fff;
  }
  &:last-child {
    background-color: #32d046;
    color: #fff;
  }
}
