  <h2 mat-dialog-title class="dialog-title">{{titleDialog}}</h2>
  <mat-dialog-content class="mat-typography">
    <div class="sign-up" *ngIf="titleDialog === 'Sign-up'">
      <app-sign-up></app-sign-up>
    </div>
    <div class="login" *ngIf="titleDialog === 'Login'">
      <app-login></app-login>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close class="btn">Cancel</button>
    <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial class="btn">Confirm</button>
  </mat-dialog-actions>

