/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #0e0e0e;
}
.no-bullet-list {
  list-style: none;
}
.mat-dialog-container {
  background-color: #222933;
}
.mat-form-field-outline-gap {
  border: 1px solid #0e0e0e !important;
  border-left-style: none !important;
  border-right-style: none !important;

  opacity: 0.7;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end {
  border: 1px solid #0e0e0e !important;
  opacity: 0.7;
}
.mat-form-field-outline-start {
  border-right-style: none !important;
}
.mat-form-field-outline-end {
  border-left-style: none !important;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-outline-gap {
  border-top-color: transparent !important;
}
